* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

body {
    background: olive;
    min-height: 100vh;
    overflow-x: hidden;
}

#text {
    position: absolute;
    font-size: 5em;
    color: blue;
    text-shadow: 2px 2px 4px black;
}

.parallax {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.parallax img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}