:root {
	--card-height: 35vh;
	--card-margin: 15vw;
	--card-top-offset: 1em;
	--numcards: 5;
	--outline-width: 0px;
  }

  #cards {
	padding-bottom: calc(var(--numcards) * var(--card-top-offset));
	/* Make place at bottom, as items will slide to that position*/
	margin-bottom: var(--card-margin);
	/* Don't include the --card-margin in padding, as that will affect the scroll-timeline*/
  }

  .card {
	position: sticky;
	top: 0;
	padding-top: var(--card-top-offset);
	transform-origin: -10% 0%;
	will-change: transform;
  }
  /** PAGE STYLING **/
  
  .container {
	position: relative;
	text-align: center;
	color: black;
	width: 100%;
  }

  * {
	/* Poor Man's Reset */
	box-sizing: border-box;
	margin: 0;
	padding: 0;
  }

  body {
	background: olive;
	font-size: calc(1em + 0.5vw);
  }

  header,
  main {
	width: 100%;
	margin: 0 auto;
  }

  #cards {
	list-style: none;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(var(--numcards), var(--card-height));
	gap: var(--card-margin);
  }

  .centered {
	position: absolute;
	transform: translate(-50%, -50%);
  }

  .btn {
	background: rgb(188 87 36);
	color: rgb(255 255 255);
	text-decoration: none;
	display: inline-block;
	padding: 0.5em;
	border-radius: 0.25em;
  }

  img{
	width: 120%;
	height: 100vh;
  }